.modal {
    position: fixed;
    z-index: 1000;
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.modal-center {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-title,
.modal-body,
.modal-buttons {
    padding: 1em 0.5em;
}

.modal-title:before,
.modal-body:before,
.modal-buttons:before,
.modal-title:after,
.modal-body:after,
.modal-buttons:after {
    content: " ";
    display: table;
}

.modal-title:after,
.modal-body:after,
.modal-buttons:after {
    clear: both;
}

.modal-title {
    border-bottom: 1px solid #eee;
    padding: 0 0.5em;
}

.modal-body,
.modal-buttons {
    text-align: center;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
    background: rgba(0, 0, 0, 0.5);
}

.backdrop.shown {
    display: block;
}

.blocked {
    overflow: hidden !important;
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border: 1px solid #aaa;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    background: #ccc;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #ddd;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial;
    margin: 0;
    overflow-y: auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
